In [2]:
import numpy as np
from IPython.display import display
import pandas as pd

In [5]:
pd_series = pd.Series([10, 100, 15, 35, 35])
print(pd_series)
print(type(pd_series))

np1 = np.array([10, 100, 15, 35, 35])
np1  # no index presented

0     10
1    100
2     15
3     35
4     35
dtype: int64
<class 'pandas.core.series.Series'>

array([ 10, 100,  15,  35,  35])

In [41]:

# create label index
pd_series = pd.Series(data=[1776, 1867, 1821] , index=['USA', 'CANADA', 'MEXICO'])
print(pd_series)
print()

# remove index
# pd_series = pd_series.reset_index(drop=True)
pd_series.reset_index(drop=True, inplace=True)
display(pd_series)
display(pd_series[0])
print()

# restore index
pd_series.index = ["USA", "CANADA", "MEXICO"]
display(pd_series)

print()
display(pd_series.iloc[0])
display('CANADA', pd_series['CANADA'])

print()
display(pd_series.values)
display(pd_series.index)

USA       1776
CANADA    1867
MEXICO    1821
dtype: int64

0    1776
1    1867
2    1821
dtype: int64

1776

USA       1776
CANADA    1867
MEXICO    1821
dtype: int64

1776

'CANADA'

1867

array([1776, 1867, 1821], dtype=int64)

Index(['USA', 'CANADA', 'MEXICO'], dtype='object')

In [46]:
# create label index
pd_series = pd.Series({'USA':1776, 'CANADA': 1867, 'MEXICO': 1823})
print(pd_series)
print()
print(pd_series.keys())
print(pd_series.index)

USA       1776
CANADA    1867
MEXICO    1823
dtype: int64

Index(['USA', 'CANADA', 'MEXICO'], dtype='object')
Index(['USA', 'CANADA', 'MEXICO'], dtype='object')

In [ ]:
# create Series
# store1
# Laptop  3000
# Screen  1000
# Audio    500

# store2
# Screen   300
# Audio    800
# Mouse     50

# create 2 Series for the stores above (1st from list, 2nd from dict)
# print the price of the Laptop from the 1st store use []
# print the price of the Audio from the 2nd store use []
# add the prices (using add function) and print the results

# pd_series = pd.Series(data=[1776, 1867, 1821] , index=['USA', 'CANADA', 'MEXICO']) === list
# pd_series = pd.Series({'USA':1776, 'CANADA': 1867, 'MEXICO': 1823}) === dict